@import url("messages/messages.css");

body {
	font-family: 'Open Sans', sans-serif;
	/* padding-top: 50px; */
	
	font-size: 14px;
	background: #fff;
	background-color:rgb(245, 245, 245);
}

body, #mainWrapper {
	height: 100%;
	
	} 
	
.has-error{
	color:red;
}

.generic-container {
  position:fixed;
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

#mainWrapper {
	/*height: 720px; Without explicit px values, % in children's does not work */ 
	height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.login-container {
    margin-top: 100px;
    background-color:#EAE7E7 ;
    width: 40%;
    left: 30%;
    position: absolute;
    color:#434a52 ;
}

.login-card {
    width: 80%;
    margin: auto;
}
.login-form {
    padding: 10%;
}




/* /**********************************
GENERAL
**********************************
body {
	font-family: 'Open Sans', sans-serif;
	color: #878787;
	margin: 0;
}

header {
	background-color: orange;
	float: left;
	margin: 0;
	padding: .5%;
	width: 100%;
}

header {
	background-color: orange;
	float: left;
	margin: 0;
	padding: .5%;
	width: 100%;
}

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
}

#headerWrapper {
	max-width: 940px;
	margin: 0 auto; 
	display: block;
	border: 1px solid #ee6911;
	overflow: hidden;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto; 
	display: block;
	border: 1px solid #ee6911;
	overflow: hidden;
}

#footerWrapper {
	max-width: 940px;
	margin: 0 auto;
	 padding:0 5%;
	overflow: hidden;
	display: block;
	border: 1px solid #ee6911;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.employeeForm{
	
}
*/

*********************************
HEADING
**********************************
/* h1 {
	font-size: 50px;
	color: white;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 16px;
	color: #48525c;
} */

*********************************
MENU
**********************************
/* #menu {
	width: 23%;
	padding: 0 0 0 5px;
	border: 1px solid #ee6911;
	float: right;
	display: block;
}

#mainSection {
	width: 75%;
	padding: 0 0 0 5px;
	float: left;
	display: block;
	border: 1px solid #ee6911;
} */
