<footer id="footer" xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:sec="http://www.springframework.org/security/tags" version="2.0">

	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />

	<spring:message code="home_text" var="homeText" />
	<spring:message code="label_en_US" var="labelEnUs" />
	<spring:url value="/welcome" var="homeUrl" />

</footer>
