<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:joda="http://www.joda.org/joda/time/tags"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />

	<spring:message code="label_user_list" var="labelUserList" />
	<spring:message code="label_user_first_name" var="labelUserFirstName" />
	<spring:message code="label_user_last_name" var="labelUserLastName" />
	<spring:message code="label_user_gender" var="labelUserGender" />

	<spring:url value="/acc_mngr" var="showAccountUrl" />

	<div class="container">
		<h3>Accounts List</h3>
		<c:if test="${not empty accounts}">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Email</th>
						<th scope="col">Account Name</th>
						<th scope="col">Creation Date</th>
						<th scope="col">Additional Info</th>
					</tr>
				</thead>
				<tbody>
					<c:forEach items="${accounts}" var="account">
						<tr>
							<td scope="row"><a href="${showAccountUrl}/${account.id}">${account.email}</a></td>
							<td>${account.accountName}</td>
							<td>${account.creationDate}</td>
							<td>${account.additionalInfo}</td>
						</tr>
					</c:forEach>
				</tbody>
			</table>
		</c:if>
		<p>
			<span><a href="${showAccountUrl}?form">New Account </a> </span>
		</p>
	</div>

</div>

